body {
    color: #000000;
    background-color: #FFFFFF;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px 10px 10px 10px;
    font-family: arial,serif;
    }
ul {
  border-bottom-style: dotted;
  border-bottom-color: gray;
  border-bottom-width: 1px;
  border-top-style: dotted;
  border-top-color: gray;
  border-top-width: 1px;
  text-transform: uppercase;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFFFFF;
  font-size: 16px;
  width:100%;
  text-align:center;
}

li {
  display:inline-block;
  *display:inline; /*IE7*/
  *zoom:1; /*IE7*/
  
  padding: 0px 0px 0px 0px;
  display:inline-block;
  margin-right:15px;
}

li a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  
}

li a:hover {
  background-color: #FFFFFF;
  opacity: 0.6;
}
h1{
  text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}